<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Profile</h1>

    <h2>My Destinations</h2>
    <!-- <p>
        Your <%= myPosts.length %> <%= myPosts.length === 1 ? 'post.' : 'posts.' %>
    </p> -->
<div class="my-destinations">
    <% myPosts.forEach((post) => { %>
        A post about <%= post.city %> created by <%= post.owner.username %>.
        <a href="/posts/<%= post._id %>">View More Details</a>
    <% }) %>
</div>


    <h2>Favourites</h2>
    <!-- <p>
        Your favourite posts: <%= myFavoritePosts.length %>
    </p> -->
    <ul>
        <% myFavoritePosts.forEach((post) => { %>
        <li>
            A post about <%= post.city %> created by <%= post.owner.username %>.
            <a href="/posts/<%= post._id %>">View More Details</a>
        </li>
        <% }) %>
    </ul>


</body>
</html>