<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="post">
        <label>
            City:
            <input name="city" required value="<%= post.city %>">
        </label>
        <label>
            Country:
            <input name="country" required value="<%= post.country %>">
        </label>
        <label>
            Accommodation:
            <input name="accommodation" value="<%= post.accommodation %>">
        </label>
        <label>
            Food:
            <input name="food" value="<%= post.food %>">
        </label>

        <button>Update Post</button>
    </form>
</body>
</html>