<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
        <h1>Here are all the posts</h1>

        <form action="/posts" method="GET">
            <input type="text" name="search" placeholder="Search...city...country...">
            <button>Search</button>
        </form>

        <div class="new-post-button"><a href="/posts/new">Add new post</a></div>

    </div>
    <div class="post-container">
        <% posts.forEach((post) => { %>
            <a href="/posts/<%= post._id %>">
                <h4><%= post.city %></h4>
                    <p><%= post.country %></p>
              </a>
            <a href="/posts/<%= post._id %>">More Details</a>
        <% }) %>
    </div>
</body>
</html>