<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Here are all the posts</h1>
    <a href="/posts/new">Add new post</a>
    <ul>
        <% posts.forEach((post) => { %>
            <li>
                <%= post.city %>
                <%= post.country %>
                <%= post.accommodation %>
                <%= post.food %>
                <a href="/posts/<%= post._id %>">More Details</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>