<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The post</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= post.city %></h1>

    <h2>Details:</h2>
    <p>Country: <%= post.country %></p>
    <p>Best place to stay: <%= post.accommodation %></p>
    <p>Best place to eat: <%= post.food %></p>

    <p>
        Images:
        <% post.images.forEach(image => { %>
            <img src="<%= image %>" alt="">
        <% }) %>
    </p>
    <p>
        Add New Image
        <form action="/posts/<%= post._id %>/images" enctype="multipart/form-data" method="post">
            <input type="file" name="image">
            <button>Upload Image</button>
        </form>
    </p>

    
    
    <h2>Owner:</h2>
    <% if (post.owner._id.equals(user._id)) { %>
        <p>This is your post</p>
        <a href="/posts/<%= post._id %>/edit">Edit Post</a>
        <form 
            action="/posts/<%= post._id %>?_method=DELETE"
            method="post">
        <button>Delete Post</button>
        </form>
    <% } else { %>
        <p>Post created by <%= post.owner.username %></p>
    <% } %>

    <h2>Favorites</h2>
    <p>Favorited by <%= post.favoritedByUsers.length %> users</p>
    <% if (alreadyFavorited) { %>
        <form action="/posts/<%= post._id %>/favorites?_method=DELETE" method="post">
            <button>Remove from favorites</button>
        </form>
    <% } else { %>
        <form action="/posts/<%= post._id %>/favorite" method="post">
            <button>Add to favorites</button>
        </form>
    <% } %>
</body>
</html>